[submodule "External/cpl"]
	path = External/cpl
	url = https://github.com/jthorborg/cpl
[submodule "External/juce"]
	path = External/juce
	url = https://github.com/jthorborg/JUCE
[submodule "External/simde"]
	path = External/simde
	url = https://github.com/simd-everywhere/simde.git
