Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/build-state.dat
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/build-state~.dat
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Script-FABB1D2DF242650EF4811390.sh
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer-all-target-headers.hmap
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer-generated-files.hmap
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer-own-target-headers.hmap
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer-project-headers.hmap
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer.dep
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer.hmap
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Signalizer~.dep
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBuffer.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBuffer.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUBuffer.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUDispatch.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUDispatch.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUDispatch.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUEffectBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUEffectBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUEffectBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUInputElement.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUInputElement.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUInputElement.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIEffectBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIEffectBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUMIDIEffectBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputElement.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputElement.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUOutputElement.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUScopeElement.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUScopeElement.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/AUScopeElement.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAudioChannelLayout.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAudioChannelLayout.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAudioChannelLayout.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAUParameter.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAUParameter.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAAUParameter.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAMutex.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAMutex.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAMutex.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAStreamBasicDescription.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAStreamBasicDescription.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAStreamBasicDescription.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAVectorUnit.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAVectorUnit.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CAVectorUnit.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/ComponentBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/ComponentBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/ComponentBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CPLSource.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CPLSource.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CPLSource.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CVectorScope.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CVectorScope.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/CVectorScope.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-1245531D49789285.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-1245531D49789285.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-1245531D49789285.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-65CC1C71701E0144.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-65CC1C71701E0144.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AAX_Wrapper-65CC1C71701E0144.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AU_Wrapper.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AU_Wrapper.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_AU_Wrapper.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_basics.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_basics.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_basics.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_devices.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_devices.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_devices.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_formats.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_formats.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_formats.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_processors.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_processors.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_audio_processors.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_core.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_core.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_core.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_cryptography.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_cryptography.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_cryptography.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_data_structures.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_data_structures.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_data_structures.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_events.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_events.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_events.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_graphics.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_graphics.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_graphics.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_basics.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_basics.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_basics.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_extra.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_extra.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_gui_extra.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_opengl.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_opengl.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_opengl.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_PluginUtilities.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_PluginUtilities.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_PluginUtilities.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode1.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode1.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode1.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode2.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode2.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode2.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode3.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode3.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_DigiCode3.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_MacUtilities.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_MacUtilities.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_MacUtilities.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_Wrapper.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_Wrapper.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_RTAS_Wrapper.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_video.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_video.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_video.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-5AC2407A9D77ED5F.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-5AC2407A9D77ED5F.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-5AC2407A9D77ED5F.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-F2881FA6E3B8A5A0.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-F2881FA6E3B8A5A0.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST3_Wrapper-F2881FA6E3B8A5A0.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-308F49C814562371.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-308F49C814562371.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-308F49C814562371.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-C47AA5581E571DE1.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-C47AA5581E571DE1.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/juce_VST_Wrapper-C47AA5581E571DE1.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MacSupport.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MacSupport.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MacSupport.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MainEditor.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MainEditor.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MainEditor.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MusicDeviceBase.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MusicDeviceBase.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/MusicDeviceBase.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginEditor.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginEditor.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginEditor.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginProcessor.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginProcessor.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/PluginProcessor.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/Signalizer.LinkFileList
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/Signalizer_dependency_info.dat
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/SignalizerDesign.d
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/SignalizerDesign.dia
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/Objects-normal/x86_64/SignalizerDesign.o
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/ResourceManagerResources/Signalizer.rsrc
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/ResourceManagerResources/Objects/juce_AU_Resources.rsrc
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/ResourceManagerResources/Objects/juce_RTAS_MacResources.rsrc
Builds/MacOSX/DerivedData/Signalizer/info.plist
Builds/MacOSX/DerivedData/Signalizer/scm.plist
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb-shm
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb-wal
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb.strings-cmp
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb.strings-dir
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb.strings-file
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb.strings-res
Builds/MacOSX/DerivedData/Signalizer/Index/Debug/macosx10.9-x86_64/Signalizer.xcindex/db.xcindexdb.strings-sym
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/0C852481-FE44-450E-B864-289F8AE4C7EB.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/0E8572BC-B395-4F97-84E5-A8F1916949ED.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/0EE273D2-E517-4FA8-9101-2A2675067FF5.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/154F02AB-A98B-4876-9A63-67A75F3C4EDA.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/174DD73B-1239-42DB-989E-5767CBA85E4D.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/20887FD4-23DE-46FC-962A-C13B9E3E4777.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/246BA0A5-1F42-47F4-ACAC-4EE9E691AF25.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/2AE1BEC2-8CC0-4AFB-99D3-FA69074EE966.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/31AE6611-A453-40F1-A951-087F777CE248.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/3B71F277-B8BC-47AB-B364-F677456CCF7B.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/3CB587CE-1716-4EDD-9AF6-57FD1668AF7E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/4321F573-199F-4AE8-9DBE-93FF69F60172.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/4E0A3E08-D4D4-4D0C-BE4A-90B58645D653.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/529FC8A6-C93A-45DC-BF69-1A7334338521.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/5B167752-DA6C-4CD0-9E72-94B9FD4F094C.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/5B786C8D-3B04-4252-B9FE-1A4C35AEFD1E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/927EF124-02C4-4D2A-B3F6-1F5DE401AC3E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/9952D96F-D167-4888-B623-8333E2B0931E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/99C7264B-5ACD-475D-8C0E-E7B0C2210E4D.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/9BA411B3-F3F7-442E-9B92-780EDE47DD3E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/ACDD6FE1-DC1E-4106-AB99-B05505A0D3B7.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/B0C6249F-A715-4A77-BD05-BEBD6F0277F6.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/BBBFDB87-80F8-493E-BB2D-081F0E98F0E1.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/C3E7F5DB-668F-4A78-9196-1E924C1C6E8E.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/C43116F8-A7F7-4536-9289-39A6C6D13B2B.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/C6D2A5BC-2022-4885-AE86-30C69BF851B9.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/Cache.db
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/CF0C174E-ED0D-4E37-B6E9-596EFB13B567.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/E5D208D6-9248-48DF-B0EA-02D29991FC30.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/F8ECCD2B-81FE-4279-B8F6-08B30E7C4887.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/F9A8BFFD-0902-41DA-8F32-08A55AE009CD.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/153FBE28-1AEF-4AD4-98DC-2BA2965D6E9B.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/450873E0-B349-4338-895A-E49EAFA76BE8.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/BBAA84B7-3991-48C8-8426-55DEBA1C80F2.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/Cache.db
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/D337A491-97AE-4894-BE98-CEB6611BCD90.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/DBFAFE1D-755D-4377-B48A-EC9685DE6177.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Debug/F6B2E1AC-08DA-4A8E-9F23-5E7383310AAF.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Issues/Cache.db
Builds/MacOSX/DerivedData/Signalizer/Logs/Issues/F4E6542E-74C1-4740-A5B0-F9BE0DED032A.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/TextIndex/text-index.idx
Builds/MacOSX/Signalizer.xcodeproj/project.xcworkspace/xcuserdata/Janus.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Signalizer.xcodeproj/xcuserdata/Janus.xcuserdatad/xcschemes/Signalizer.xcscheme
Builds/MacOSX/Signalizer.xcodeproj/xcuserdata/Janus.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/1433C7A9-FF33-4BE4-A8DC-6CCA4B2FDA85.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Issues/4BDF50C9-1357-4D60-A830-6D4C82C32E3F.xcactivitylog
Builds/MacOSX/Signalizer.xcodeproj/project.xcworkspace/xcshareddata/Signalizer.xccheckout
Builds/VisualStudio2010/Debug/
Builds/VisualStudio2010/x64/
Builds/VisualStudio2010/Release/
Builds/VisualStudio2010/Signalizer.sdf
Builds/VisualStudio2010/Signalizer.opensdf
*.psess
*.vsp
Builds/VisualStudio2010/Signalizer.sln.ide/
*.opendb
*.db
Source/backup/
Builds/VisualStudio2010/.vs/
Make/__pycache__/
Builds/Release/
Builds/x64/
Releases/
