Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/build/Signalizer.build/Debug/Signalizer.build/
Builds/MacOSX/DerivedData/Signalizer/info.plist
Builds/MacOSX/DerivedData/Signalizer/scm.plist
Builds/MacOSX/DerivedData/Signalizer/Index/
Builds/MacOSX/DerivedData/Signalizer/Logs/
Builds/MacOSX/DerivedData/Signalizer/TextIndex/text-index.idx
Builds/MacOSX/Signalizer.xcodeproj/project.xcworkspace/xcuserdata/Janus.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Signalizer.xcodeproj/xcuserdata/Janus.xcuserdatad/xcschemes/Signalizer.xcscheme
Builds/MacOSX/Signalizer.xcodeproj/xcuserdata/Janus.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/DerivedData/Signalizer/Logs/Build/1433C7A9-FF33-4BE4-A8DC-6CCA4B2FDA85.xcactivitylog
Builds/MacOSX/DerivedData/Signalizer/Logs/Issues/4BDF50C9-1357-4D60-A830-6D4C82C32E3F.xcactivitylog
Builds/MacOSX/Signalizer.xcodeproj/project.xcworkspace/xcshareddata/Signalizer.xccheckout
Builds/VisualStudio2010/Debug/
Builds/VisualStudio2010/.vs/
Builds/VisualStudio2010/x64/
Builds/VisualStudio2010/Release/
Builds/VisualStudio2010/Signalizer.sdf
Builds/VisualStudio2010/Signalizer.opensdf
*.psess
*.vsp
Builds/VisualStudio2010/Signalizer.sln.ide/
*.opendb
*.db
Source/backup/
Builds/VisualStudio2010/.vs/
Make/__pycache__/
Builds/Release/
Builds/x64/
Releases/
Make/Build.log
